[Unit]
Description=Garage Door Watcher Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/home/hp/go/src/github.com/heathbar/raspi-gpio-mqtt/raspi-gpio-mqtt -b tcp://mosquitto:1883
Restart=on-failure # or always, on-abort, etc

[Install]
WantedBy=multi-user.target